body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color:green;
}
.quem-somos{
    background-color: cyan;
    color: black;

}
.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{

    background-color:turquoise;
}
.bg-footer{
    background-color:black;
    color:white;
}
.menus{
    color:white;
}